node_modules/
package-lock.json

# Compiler files
contracts/cache/
out/
build/

# Ignores development broadcast logs
!/broadcast
contracts/broadcast/*/31337/
contracts/broadcast/*/1214/
contracts/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

trusted_setup/

.vscode/
